@import url('https://fonts.googleapis.com/css2? family= Pontano+Sans & familia= Poppins:ital,peso@0,200;0,400;0,600;1,400;1,500 &family= Roboto+Slab & display= intercambio');


*{

    font-family: 'Pontano Sans', sans-serif;
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /*===== gama de colores =====*/
    --body-color:#e4e9f7;
    --sidebar-color: #fff;
    --primary-color: #695cfe;
    --primary-color-light: #f6f5f6;
    --toggle-color: #ddd;
    --text-color: #707070;

    /*=== transiciones === */

    --tran-02:all 0.2 ease;
    --tran-03:all 0.3 ease;
    --tran-04:all 0.4 ease;
    --tran-05:all 0.5 ease;
}

body{
    height: 100vh;
    background: var(--body-color);
    transition: var(--tran-05);
}

body.dark{
    --body-color:#18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #FFF;
    --text-color: #CCC;
}
.sidebar .menu{
    margin-top: 35px;
}

/*==== Sidebar ====*/
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
   

}
.sidebar.close{
    width: 88px;
}

/*==== Resuable CSS ====*/

.sidebar .text{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);    
    transition: var(--tran-03);
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
.sidebar .image{
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.sidebar li{   
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}
.search-box{
    margin-top: 40px;
    background-color: #3a3b3c;
}
.sidebar li .icon{
    display: flex;
    align-items: center;
   
    min-width: 60px;
    font-size: 20px;
}

.sidebar li .icon,
.sidebar li .text{
    color: var(--text-color);
    transition: var(--tran-02);
}

.sidebar header{
    position: relative;
}

.sidebar .image-text img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}

header .image-text .header-text{
    display: flex;
    flex-direction: column;
}

.header-text .name{
    font-weight: 600;
}
.header-text .profesion{
    margin-top: -2px;
}

.sidebar header .toggle{
    position: absolute;
    top: 70px;
    right: -28px;
   
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:  var(--sidebar-color);
    font-size: 22px;
    transition: var(--tran-03);
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar.close header .toggle{
    transform: translateY(-50%);
    transform: translateY(-50%) rotate(180deg);
}
.sidebar .search-box{
    background-color: var(--primary-color-light);
    border-radius: 6px;
    transition: var(--tran-05);
}

.search-box input{
    height: 100%;
    width: 100%;
    background-color: var(--primary-color-light);
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    border-radius: 6px;
    transition: var(--tran-05);
}

.sidebar li a{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    border: none;
    border-radius: 6px;
    transition: var(--tran-04);
    padding: 20px;
}


.sidebar li a:hover{
    background: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidebar .menu-bar .la{
   justify-content: center;
}

.menu-bar .mode{
    position: relative;
    border-radius: 6px;
    background: var(--primary-color-light);
}

.menu-bar .mode .moon-sun{
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}
.menu-bar .mode i{
    position: absolute;
    transition: var(--tran-03);
 }

 .menu-bar .mode i.sun{
    opacity: 0;
}
body.dark .menu-bar .mode i.sun{
    opacity: 1;
}
body.dark .menu-bar .mode i.moon{
    opacity: 1;
}

.menu-bar .mode .toggle-switch{
    position: absolute;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
    border-radius: 6px;
    background: var(--primary-color-light);
   
}

.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    cursor: pointer;
    transition: var(--tran-03);
}

/*//// mode dark ////*/

body.dark .switch::before{
    left: 25px;
}

.home{ 
    position: absolute;
    height: 100vh;
    left: 250px;
    width: calc(100% - 88px);
    color: var(--body-color);
    background: var(--body-color);
    transition: var(--tran-05);
}

.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 50px 50px;
}
.sidebar.close ~ .home{
    left: 88px;
    width: calc(100% - 88px);
}